

<div class="container-fluid needs" id="contactMain">
    <div class="row donor_header">
        <div class="col-xs-6 text" id="Contact">
            <h2 class="h2style1">CONTACT</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 contact_form">
            <p class="contact_subheader">CONTACT US</p>
            <form method="post" name="myemailform" action="/Home/About">
                <input type="text" class="input_text" name="firstName" placeholder="First Name" maxlength="20"> <span class="change" id="fName_change">Required!</span>
                <br>
                <input type="text" class="input_text" name="lastName" placeholder="Last Name" maxlength="20"><span class="change" id="lName_change">Required!</span>
                <br>
                <input type="tel" name="phone" placeholder="Telephone (Optional)" maxlength="20">
                <br>
                <input type="email" class="input_text" name="EmailAddress" placeholder="Email Address" maxlength="40"><span class="change" id="email_change">Required!</span>
                <br>
                <textarea name="message" class="input_text" placeholder="Message" maxlength="255"></textarea><span class="change" id="message_change">Required!</span>
                <br>
                <input type="submit" class="submit_button" id="submit" value="Submit">
                <input type="reset" value="Cancel" class="cancel" />
            </form>
        </div>
        <div class="col-xs-12 col-md-6 two_col">
            <p class="contact_subheader other_info">CALL US</p>
            <p class="contact_info_text contact_tel">Tel: 801-528-1214</p>
            <p class="contact_subheader other_info">COME SEE US</p>
            <p class="contact_info_text">2760 S. Adams Ave<br>Ogden, Utah 84401</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1784.5861387467835!2d-111.96804305268928!3d41.215141436084046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87530f2689623957%3A0x49def70f5ee0a151!2sOgden+Youth+Futures!5e0!3m2!1sen!2sus!4v1492809010928" class="map" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row contact_SM">
        <div class="col-xs-4">
            <p class="contact_subheader">SOCIAL MEDIA</p>
            <img src="~/images/contact_instagram.png" title="instagram icon" alt="instagram icon">
            <img src="~/images/contact_twitter.png" title="twitter icon" alt="twitter icon">
            <img src="~/images/contact_tumblr.png" title="tumblr icon" alt="tumblr icon">
            <img src="~/images/contact_fb.png" title="fb icon" alt="fb icon">
        </div>
    </div>
</div>