@* HOME TITLE MAIN*@
<edit-container is-visible="User.Identity.IsAuthenticated">
    <section class="container-fluid main-header">
        <div class="row">
            <div class="col-xs-6 header-box">
                <div class="row">

                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <p class="header-text-greeting editArea">@HT.Title</p>
                        <edit-link is-visible="User.Identity.IsAuthenticated">
                            <edit-a controller="HomeTitles" route-id="@HT.ID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                        </edit-link>
                    }
                </div>
                <div class="sub-text-box row editArea">
                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <p class="sub-text col-xs-12">@HT.Subtitle</p>
                    }
                </div>
            </div>
        </div>
    </section>
    @* END HOME TITLE MAIN*@
    @* HOME TITLE MESSAGE *@
    <section id="header" class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <p class="green-header">
                    @foreach (HomeTitle HT in Model.HomeTitle)
                    {
                        <span class="mont-semibold-dark-36 have-questions-heading editArea">@HT.SubheaderContent</span>
                    }
                </p>
            </div>
        </div>
    </section>
</edit-container>

@* END HOME TITLE MESSAGE *@

