@* ------INTRODUCTION ARTICLE ------ *@
<div class="container-fluid">
    <div class="row history_text">
        <section class="col-xs-12">
            @foreach (introArticle ia in Model.introArticles)
            {
                if (ia.ID == 1)
                {
                    <edit-container is-visible="User.Identity.IsAuthenticated">
                        <p class="mont_regular_22_darkgray  editArea">@ia.ArticleText</p>
                        <edit-link is-visible="User.Identity.IsAuthenticated">
                            <edit-a controller="introArticles" route-id="@ia.ID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                        </edit-link>
                    </edit-container>
                }
            }
        </section>

    </div>
</div>
@* ------END INTRODUCTION ARTICLE ------ *@