

<div class="container-fluid" id="outreachBanner">
    <div class="row outreach_main_img">
        <div class="col-xs-8 text" id="StreetOutreach">
            <h2>Street</h2>
            <h2 class="h2style1">Outreach</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row outreach_text">
        <section class="col-xs-12">
            <p class="mont_regular_22_darkgray">Street Outreach is designed to meet the clients where they are on the street to build rapport and encourage youth to access drop-in and shelter services. This program offers, case management, hygiene items, food, sleeping bags, and other essential items as needed. Street Outreach currently take place once per week on Wednesdays. The team visits the same Ogden, Utah locations every week:</p>
        </section>
    </div>
</div>

@* ------ STREET OUTREACH ------ *@
<div id="street_outreach" class="container-fluid">
    <div class="row outreach_bullet">
        <edit-container is-visible="User.Identity.IsAuthenticated">
            <section class="col-xs-12 col-md-6 editArea">
                <ul>
                    @foreach (List_Item outli in Model.List_item)
                    {
                        if (outli.TypeOfList.Equals("outReach"))
                        {
                            <li>@outli.LiText</li>
                            <edit-link is-visible="User.Identity.IsAuthenticated">
                                <edit-a controller="List_Item" route-id="@outli.ID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                            </edit-link>
                        }

                    }
                </ul>
            </section>
        </edit-container>
        <edit-container is-visible="User.Identity.IsAuthenticated">
            <section class="col-xs-12 col-md-6 editArea">
                <ul>
                    @foreach (List_Item outli1 in Model.List_item)
                    {
                        if (outli1.TypeOfList.Equals("outReach1"))
                        {
                            <li>@outli1.LiText</li>
                            <edit-link is-visible="User.Identity.IsAuthenticated">
                                <edit-a controller="List_Item" route-id="@outli1.ID" is-visible="User.Identity.IsAuthenticated"></edit-a>
                            </edit-link>
                        }

                    }
                </ul>
            </section>
        </edit-container>
    </div>
</div>

@* ------ END STREET OUTREACH ------ *@