<div class="container-fluid">
    <div class="row  questions">
        <div class="col-sm-12 col-md-7 text">
            <p>Have? Send us a text!</p>
        </div>
        <div class="col-sm-12 col-md-5 phone">
            <p>(801) 528-1214</p>
        </div>
    </div>
</div>
<div class="container-fluid" id="historyBanner">
    <div class="row hist_main_img">
        <div class="col-xs-8 text">
            <h2>Youth Futures</h2>
            <h2 class="h2style1">History</h2>
        </div>
    </div>
</div>