@model MyYouthFutures.Models.CalendarEvent
<div class="sidepage create">
    <h2>Create</h2>
    <h4>CalendarEvent</h4>
    <hr />
    <div class="row sidepage-content">
        <div class="col-xs-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="name" class="control-label"></label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="eventTitle" class="control-label"></label>
                    <input asp-for="eventTitle" class="form-control" />
                    <span asp-validation-for="eventTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="datetime" class="control-label"></label>
                    <input asp-for="datetime" class="form-control" />
                    <span asp-validation-for="datetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="location" class="control-label"></label>
                    <input asp-for="location" class="form-control" />
                    <span asp-validation-for="location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="info" class="control-label"></label>
                    <input asp-for="info" class="form-control" />
                    <span asp-validation-for="info" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <hr />
    <div>
        <a asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
