@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Youth Futures Template Page" />
    <meta name="keywords" content="keywords" />
    <meta name="author" content="Chris Ridl" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Youth_Futures_Shelter_Home</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/secondaryStyles.css" />
        <link rel="stylesheet" href="~/css/fonts.css" />
        <link rel="stylesheet" href="~/css/modals.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <link rel="stylesheet" href="~/css/edit.css"  />

    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/secondaryStyles.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/fonts.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

<div id="main-body">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/yf_logo.svg" alt="Youth Futures Logo" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index" class="current">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Programs</a></li><!--Will have to be a redirect, instead of a locked-in link-->
                        <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Programs</a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="StreetOutreach">Street Outreach</a></li>
                            </ul>
                        </li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Get Involved</a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Donate">Donate</a></li>

                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Events</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Donor">Donor Recognition</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="History">History</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Staff">Staff</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Board">Board</a></li>
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Media">Media</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact</a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Contact">Contact Info</a></li>
                            </ul>
                        </li>
                        <li class="donate"><a data-toggle="modal" data-target="#loginPopup">Login</a></li>
                        <li class="donate"><a asp-area="" asp-controller="Home" asp-action="About" asp-fragment="Donate">Donate</a></li>@*TODO: This needs linked to the Media Section of the Donate Page*@

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>


    <div class="container body-content"  >

        <div id="loginPopup" class="modal container">
            @{
                Html.RenderPartial("../Popups/_Login");
            }
        </div>
        
        
        @RenderBody()
        
        <footer class="container-fluid">
            
                <div class="row clear">
                    <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                        <p class="quicksand-dark-18-white">Contact</p>
                        <p class="mont-light-dark-14-email">Email: info@yfut.org</p>
                        <p class="mont-light-dark-14-email">
                            Phone:
                            <tel>801-528-1214</tel>
                        </p>
                    </section>
                    <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                        <p class="quicksand-dark-18-white">Mailing Address</p>
                        <p class="mont-light-dark-14-email">Youth Futures<br /> POB 160301<br /> Clearfield, UT 84016</p>
                    </section>
                    <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                        <p class="quicksand-dark-18-white">Shelter Address</p>
                        <p class="mont-light-dark-14-email">Youth Futures<br /> 2760 S. Adams Ave<br /> Ogden, UT 84403</p>
                    </section>
                    <section class="col-xs-6 col-sm-4 col-md-2 footer-section">
                        <img src="./resources/page_1.png" alt="Home Image" class="footer-home" />
                    </section>
                    <section class="col-xs-10 col-xs-offset-1
                            col-sm-6 col-md-4 col-sm-offset-0 footer-section">
                        <div class="social-media">
                            <a href="#"><img src="~/images/social_instagram.png" alt="Instagram" /></a>
                            <a href="#"><img src="~/images/social_twitter.png" alt="Twitter" /></a>
                            <a href="#"><img src="~/images/social_tumblr.png" alt="Tumbler" /></a>
                            <a href="#"><img src="~/images/social_fb.png" alt="Facebook" /></a>
                        </div>
                    </section>
                </div>
                <div class="copyright">
                    <p class="mont-regular-dark-16-grey">© Youth Futures, Inc.</p>
                </div>
            <p>&copy; 2017 - Youth_Futures_Shelter_Home</p>
        </footer>
            
            
            
            

            
        
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/secondaryScripts.js"></script>
        <script src="~/js/gen_validatorv31.js" asp-append-version="true"></script>
        <script src="~/js/login.js" asp-append-version="true"></script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/editController.js"></script>
        <script src="~/lib/angular-content-editable/dist/angular-content-editable.js"></script>
        
        
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/js/secondaryScripts.min.js" asp-append-version="true"></script>
        <script src="~/js/gen_validatorv31.min.js" asp-append-version="true"></script>
        <script src="~/js/login.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
