@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="loginCase">
    <label id="cncl"><span class="glyphicon glyphicon-remove"></span></label>

    <div id="loginModal" class="container_modal1 login">
        <form class="container_modal2">
            <div class="image">
                <img src="~/images/yf_logo.svg" />
            </div>

            <div class="container">
                <div class="rw1">
                    <!--User Name-->
                    <label><b>Username:</b></label>
                    <input type="text" name="usrnm" required />
                </div>

                <div class="rw2">
                    <!--Password-->
                    <label><b>Password:</b></label>
                    <input type="password" name="pswrd" required />
                </div>

                <button id="sbmt" type="submit" class="btn-lg btn-success">Login</button>

                <div class="rw4">
                    <p><a>Forgot Your Password?</a></p>
                    <p><a>Forgot Your Username?</a></p>
                </div>
            </div>
        </form>
    </div>
</div>