@model MyYouthFutures.Models.List_Item

@{
    ViewData["Title"] = "Edit";
}
<div class="sidepage edit">
    <h3>Edit</h3>
    <h4>Street Outreach</h4>
    <hr />
    <div class="row sidepage-content">
        <div class="col-xs-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                @*<div class="form-group">
                        <label asp-for="TypeOfList" class="control-label"></label>
                        <input asp-for="TypeOfList" class="form-control" />
                        <span asp-validation-for="TypeOfList" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="LiText" class="control-label"></label>
                    <input asp-for="LiText" class="form-control" />
                    <span asp-validation-for="LiText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-default">Back to List</a>
        <a asp-controller="Home" asp-action="About" asp-fragment="StreetOutreach" class="btn btn-default">Back to Page</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>