.navbar-inverse .navbar-nav li.donate {
    background-color: #1c5788;
}

.container {
    padding-left: 0px;
    padding-right: 30px;
}

/**************************************
    History
***************************************/
.hist_main_img {
    background-image: url(../images/history_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 508px;
    margin: 0;
}

    .hist_main_img .text {
        padding-top: 7%;
        padding-left: 5%;
        text-transform: uppercase;
    }

        .hist_main_img .text .h2style1 {
            color: #9ec54d;
        }

@media (max-width: 1000px) {

    .h2style1, h2 {
        font-size: 55px;
    }
}

.history_text {
    background-color: white;
}

    .history_text p {
        padding: 5% 11%;
        text-align: left;
    }

.history_text_pics {
    background-color: white;
    padding-top: 2%;
    padding-left: 10%;
    Padding-right: 7%;
}

    .history_text_pics img {
        padding: 0;
    }

    .history_text_pics .mont_light_14_white {
        color: #6a6a6a;
    }

.hist_2nd_back_img {
    background-image: url(../images/history_5000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 277px;
    margin: 0;
}

.hist_2nd_back_img_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

@media (max-width: 750px) {

    .hist_2nd_back_img_text h4 {
        font-size: 20px;
    }
}

.hist_2nd_back_img_text h4 {
    color: white;
}

.hist_subtitle {
    text-align: center;
}

.history_green_text {
    background-color: white;
}

    .history_green_text p {
        color: #9ec54d;
        padding-left: 12%;
        padding-right: 12%;
        text-align: center;
    }

/***********************
    First Year Panels
*************************/
#firstYear .container{
    padding-right: 0px;
}

/***********************
    More
************************/
.more {
    padding-bottom: 10%;
}

    .more .col-xs-4 {
        height: 582px;
    }

    .more p {
        padding: 5%;
    }

    .more .green {
        color: #71963a;
    }

.green a {
    color: #71963a;
}

.text {
    padding-left: 5%;
}

/*********************************************************
    Outreach
**********************************************************/
.outreach_main_img {
    background-image: url(../images/outreach_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 508px;
    margin: 0;
}

    .outreach_main_img .text {
        padding-top: 7%;
        padding-left: 5%;
        text-transform: uppercase;
    }

        .outreach_main_img .text .h2style1 {
            color: #9ec54d;
        }

.outreach_text {
    background-color: white;
}

    .outreach_text p {
        padding: 5% 11%;
        padding-bottom: 0;
        text-align: left;
    }

.outreach_bullet {
    background-color: white;
}

.outreach_bullet {
    font-family: "montserrat-regular";
    font-size: 24px;
    line-height: 44px;
    color: #1c5788;
    padding-left: 10%;
    padding-right: 7%;
    padding-bottom: 10%;
}

    .outreach_bullet .col-xs-6 {
        padding: 0%;
    }

/*******************************
    Board of Directors
********************************/
#directorsMain {
    background-color: white;
}

.board_header {
    background-color: white;
}

    .board_header .text {
        padding-top: 5%;
        padding-bottom: 5%;
        text-transform: uppercase;
    }

        .board_header .text h2 {
            color: #ababab;
            margin: 0;
        }

        .board_header .text .h2style1 {
            color: #8ebc3d;
        }

.board_members {
    background-color: white;
    padding-left: 5%;
    padding-bottom: 5%;
    
    font-family: "montserrat-light";
    font-size: 16px;
    line-height: 30px;
    color: #474747;
}

    .board_members span.name {
        font-size: 20px;
    }

    .board_members img {
        padding-bottom: 10%;
    }

.email {
    color: #8ebc3d;
}

/*********************************
    Media
**********************************/
/*.media_header {*/
#mediaMain{
    background-color: white;
}

    .media_header .text {
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 5%;
        text-transform: uppercase;
    }

        .media_header .text h2 {
            color: #ababab;
            margin: 0;
        }

        .media_header .text .h2style1 {
            color: #8ebc3d;
        }

.media_subheader {
    //background-color: white;
    padding-left: 10%;
    padding-bottom: 2%;
}

    .media_subheader .title {
        font-family: "montserrat-regular";
        font-size: 32px;
        line-height: 36px;
        color: #174475;
    }

    .media_subheader .time {
        font-size: 20px;
    }

    .media_subheader .link {
        font-family: "montserrat-regular";
        font-size: 20px;
        line-height: 36px;
        color: #8ebc3d;
    }

.media_pic {
    background-color: white;
    padding-bottom: 5%;
}

    .media_pic .subtext {
        font-family: "montserrat-light";
        font-size: 14px;
        line-height: 24px;
        font-style: italic;
        color: #1c5788;
    }

.media_text {
    background-color: white;
    padding-bottom: 5%;
}

    .media_text p {
        padding: 1% 11%;
        text-align: left;
    }

/************************************
    Donor
*************************************/
.donor_header {
    background-color: white;
}

    .donor_header .text {
        padding-top: 5%;
        padding-bottom: 3%;
        padding-left: 5%;
        text-transform: uppercase;
    }

        .donor_header .text h2 {
            color: #ababab;
            margin: 0;
        }

        .donor_header .text .h2style1 {
            color: #8ebc3d;
        }

.donor_list {
    background-color: white;
    padding-left: 5%;
}

.donor_subheader {
    background-color: white;
    padding-left: 5%;
    padding-bottom: 2%;
}

    .donor_subheader .title_plat {
        font-family: "montserrat-regular";
        font-size: 32px;
        line-height: 36px;
        color: #174475;
    }

.col-xs-4.donor_box {
    height: 120px;
    width: 369px;
    margin: .5%;
}

    .col-xs-4.donor_box p {
        color: white;
    }

    .col-xs-4.donor_box .donor_name {
        font-family: "montserrat-semibold";
        font-size: 20px;
        line-height: 30px;
        padding-top: 5%;
        margin: 0;
    }

    .col-xs-4.donor_box .year {
        font-family: "montserrat-light";
        font-size: 16px;
        line-height: 30px;
        color: white;
    }

    .col-xs-4.donor_box.plat {
        background-color: #1c5788;
    }

.donor_subheader .title_gold {
    font-family: "montserrat-regular";
    font-size: 32px;
    line-height: 36px;
    color: #6a6a6a;
    margin-top: 5%;
}

.col-xs-4.donor_box.gold {
    background-color: #6a6a6a;
}

.donor_subheader .title_silver {
    font-family: "montserrat-regular";
    font-size: 32px;
    line-height: 36px;
    color: #b9b9b9;
    margin-top: 5%;
}

.col-xs-4.donor_box.silver {
    background-color: #b9b9b9;
}

.donor_subheader .title_bronze {
    font-family: "montserrat-regular";
    font-size: 32px;
    line-height: 36px;
    color: #977b2d;
    margin-top: 5%;
}

.col-xs-4.donor_box.bronze {
    background-color: #977b2d;
}

.donor_list.bronze {
    padding-bottom: 5%;
}

.donate_help {
    background-color: white;
    font-family: "montserrat-regular";
    font-size: 32px;
    line-height: 36px;
    color: #6a6a6a;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/********************************
    Needs
*********************************/
.needs {
    background-color: white;
}


.needs_subheader {
    font-family: "montserrat-semibold";
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    font-weight: bold;
}

.needs ul {
    list-style-type: none;
    font-family: "montserrat-light";
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

.needs_list {
    max-width: 300px;
    margin-left: 5%;
}

    .needs_list.first {
        margin-left: 10%;
    }

    .needs_list ul {
        text-align: left;
        padding-left: 0;
    }

.change {
    visibility: hidden;
}


.two_col {
    padding-left: 5%;
}

/******************************
    Contact
*******************************/
.contact_subheader {
    font-family: "montserrat-semibold";
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    padding-bottom: 2%;
}

    .contact_subheader.other_info {
        padding-bottom: 0;
        margin-bottom: 0;
    }

.contact_form {
    padding-left: 10%;
}

    .contact_form input {
        width: 300px;
        height: 36px;
        margin-bottom: 2%;
    }

    .contact_form textarea {
        width: 500px;
        height: 252px;
        margin-bottom: 5%;
    }

/*
    Contact Cont.
*/
.contact_info_text {
    list-style-type: none;
    font-family: "montserrat-light";
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

    .contact_info_text.contact_tel {
        margin-bottom: 5%;
    }

.map {
    margin-top: 5%;
    width: 368px;
    height: 368px;
    border: 0;
}

@media (max-width: 750px) {

    .map {
        margin-top: 5%;
        width: 300px;
        height: 300px;
        border: 0;
    }

    .contact_form input {
        width: 200px;
        height: 36px;
        margin-bottom: 2%;
    }

    .contact_form textarea {
        width: 250px;
        height: 252px;
        margin-bottom: 5%;
    }
}

.contact_SM {
    padding-top: 5%;
    padding-left: 9%;
    padding-bottom: 10%;
}


/**********************
    Basic Redirect Page
***********************/
.redirect {
    background-color: white;
    padding: 120px 0px 120px 0px;

    border-color: #9ec54d;
    border-width: 20px 0px 0px 0px;
    border-style: solid none none none;
}

.redirect .text span{
    text-align: center;
    margin: 0px;
    color: #ababab;
    text-transform: uppercase;
}

 /*********************
     Coming Soon
 **********************/
    #comingSoon .h2style1 {
        color: #8ebc3d;
    }

/****************************
    Page Not Found (No Page)
*****************************/
#noPage {
    border-color: #1c5788;
    border-width: 20px 0px 20px 0px;
    border-style: solid none solid none;
}

    #noPage .h2style1 {
        color: #cc4400;
    }

    #noPage h4 {
        padding: 0px 80px 0px 80px;
    }

/**********************************
    Calendar
***********************************/
.calendar-body{
    background-color: #ffffff;
    padding: 50px 60px 10px 60px;
}

.calendar-body .h2style1{
    color: #8ebc3d;
}

.calendar-body h3{
    color: #1c5778;
}

.calendar-body .btn-calendar{
    background-color: #6a6a6a;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    margin: 5px;
    border-radius: 0px;
}

.calendar-body .btn-calendar::selection{
    background-color: #6a6a6a;
}

.calendar-body .btn-calendar .col-xs-1{
    width: 10px;
}

.calendar-body .btn-calendar .calendarTitle{
    font-weight: bold;
    font-size: 20px;
}

.calendar-body .btn-calendar .date{
    font-size: 16px;
    text-align: center;
}

.calendar-body .collapse h5{
    font-size: 20px;
    color: #6a6a6a;
}

.calendar-body .collapse h5.calendarTitle{
    font-weight: bold;
}

.calendar-body .collapse h5.title{
    font-size: 28px;
    color: #174475;
    font-weight: bolder;
    margin-top: 0px;
}

/**********************************
    Youth Stories
***********************************/
#YouthStoriesMain{
    background-color: white;

    display: none;
}

#YouthStoriesMain .content{
    padding: 40px 100px;
}

    #YouthStoriesMain h2{
        color: #ababab;
    }
    #YouthStoriesMain .h2style1 {
        color: #8ebc3d;
    }

#YouthStoriesMain .title {
    font-family: "montserrat-regular";
    font-size: 32px;
    line-height: 36px;
    color: #174475;
}

#YouthStoriesMain img {
    background-color: white;
    padding-bottom: 5%;
}

    #YouthStoriesMain .subtext {
        font-family: "montserrat-light";
        font-size: 14px;
        line-height: 24px;
        font-style: italic;
        color: #1c5788;
    }
/**********************************
    General look for Side pages 
    (login, create, delete, etc.)
***********************************/

.sidepage {
    background-color: #ffffff;
    padding: 6% 5% 10% 5%;
}

    .sidepage .sidepage-content{
        margin: 3% 5%;
    }

    .sidepage form {
        float: none;
        margin: 0 auto;
    }

    .sidepage h2 {
        text-align: center;
        color: #82ad38;
    }

    .sidepage h4, .sidepage h3 {
        color: #583b13;
    }

    .sidepage input, .sidepage select, .sidepage textarea {
        height: 35px;
        padding: 2px;
        font-size: 14pt;
    }

    .sidepage textarea{
        height: 200px;
    }

    .sidepage label {
        font-size: 16pt;
        vertical-align: text-bottom;
        margin: 5px 0 0 5px;
        padding: 0;
        color: #583b13;
    }

    .sidepage #continue {
        color: #583b13;
        text-align: center;
        font-size: x-large;
    }

    .sidepage .row{
        padding: 15px 0px 15px 0px;
    }

    .sidepage .btn{
        font-size: large;
        font-weight: bold;
        width: 150px;
        margin-top: 10px;
    }

    .sidepage hr {
        border: none;
        height: 2px;
        background-color: #86ad38;
        margin: 0px;
    }

    .sidepage .table {
        font-size: 13pt;
        border: solid #583b13;
    }

        .sidepage .table thead th {
            text-align: center;
            border: solid #583b13;
            background-color: #583b13;
            color: white;
        }

        .sidepage .table td {
            border: solid #583b13;
        }

        .sidepage .table .glyphs {
            width: 100px;
        }

    .sidepage .glyphs a{
        padding-left: 5px;
    }

    .sidepage .btn {
        padding-left: 2px;
        padding-right: 5px;
    }

    .sidepage .btn span{
        padding-right: 5px;
    }

    .sidepage dl{
        font-size: 14pt;
        color: #583b13;
        //margin: 10px 20px 10px 20px;
    }

    .sidepage dt{
        width: 170px;
        margin-right: 15px;
    }
    .sidepage .btn-right {
        float: right;
    }

    .sidepage .btn.back {
        background-color: #8ebc3d;
        color: #ffffff;
        border-color: #71963a;
    }

        .sidepage .btn.back:hover {
            background-color: #71963a;
            color: #ffffff;
            //border-color: #583b13;
        }

/*
    Login
*/

.sidepage#login {
    background-color: gray;
}

.case1 {
    /*border: 5px solid #583b13;
    padding: 5px;*/
    margin: 4% 35% 5% 35%;
    padding: 2px;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #583b13; /*brown*/
    font-weight: bold;
    color: #583b13;
}

.case2 {
    padding: 10px 5px 10px 5px;
    background-color: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-style: solid;
    border-color: #86ad38; /*green*/
}

/*
    Edit
*/

/*
    Create
*/

/*
    Delete 
*/

.sidepage.delete h3{
    color: #1c5788;
}

.sidepage.delete input[type=submit]{
    background: none;
    border: none;
}

.sidepage.delete .glyphs{
    height: 40px;
    padding: 3px 0px 0px 0px;
}

/*
    Details
*/

/*
    List/Index
*/