@model MyYouthFutures.Models.Media

@{
    ViewData["Title"] = "Edit";
}
<div class="sidepage edit">
    <h3>Edit</h3>
    <h>Media</h>
    <hr />
    <div class="row">
        <div class="col-xs-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Text_Type" class="control-label"></label>
                    <input asp-for="Text_Type" class="form-control" />
                    <span asp-validation-for="Text_Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content_Text" class="control-label"></label>
                    <input asp-for="Content_Text" class="form-control" />
                    <span asp-validation-for="Content_Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-default">Back to List</a>
        <a asp-controller="Home" asp-action="About"  asp-fragment="Media" class="btn btn-default">Back to Page</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>