@model IEnumerable<MyYouthFutures.Models.Founder_Message>
                      
    
    @foreach (var item in Model)
    {
        <section class="col-xs-12  col-md-4 first_img ">
            <img src=@item.founderImage class="img-responsive center-block" title="Kristen and Scott" alt="Kristen and Scott">
            <p class="mont_light_14_white hist_subtitle">@item.founderSubTetxt</p>
        </section>
    }