
@{
    ViewData["Title"] = "ComingSoon";
    Layout = "../Shared/_Layout.cshtml";
}

<article id="comingSoon">
    
    <div class="container-fluid">
        <div class="questions">
        </div>
    </div>

    <h2 class="row">
        <span class="col-xs-12">Page</span>
        <span class="col-xs-12 h2style1">Coming Soon</span>
    </h2>
    
</article>