
@{
    ViewData["Title"] = "NotFound";
    Layout = "../Shared/_Layout.cshtml";
}

<article>
    <div class="container-fluid">
        <div class="questions">
        </div>
    </div>
    
    <h2 class="row">
        <span class="col-xs-12">Page</span>
        <span class="col-xs-12 h2style1">NotFound</span>
    </h2>
</article>
