
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "../Shared/_Layout.cshtml";
}

<article id="noPage" class="redirect">
    <!--<div class="container-fluid">
        <div class="questions">
        </div>
    </div>-->
    <div class="row text">
        <h2>
            <span class="col-xs-12 h2style1">Not Found</span>
        </h2>
        <h4>
            <span class="col-xs-12">
                @{@*path of redirectd page?*@}
                Sorry, the page you requested cannot be found
            </span>
        </h4>
    </div>
</article>
