@model MyYouthFutures.Models.Founder_Message

@{
    ViewData["Title"] = "Create";
}

<div class="sidepage create">
    <h2>Create</h2>

    <h4>History: New Image</h4> <!--Founder Message-->
    <hr />
    <div class="row sidepage-content">
        <div class="col-xs-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="founderImage" class="control-label"></label>
                    <input asp-for="founderImage" class="form-control" />
                    <span asp-validation-for="founderImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="founderSubTetxt" class="control-label"></label>
                    <input asp-for="founderSubTetxt" class="form-control" />
                    <span asp-validation-for="founderSubTetxt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <hr />
    <div>
        <a asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>