@model MyYouthFutures.Models.Founder_Message

@{
    ViewData["Title"] = "Delete";
}
<div class="sidepage delete">
    <h2>Delete</h2>
    <h3>Are you sure you want to delete this?</h3>
    <h4>History: Image #@Model.ID</h4>
    <hr />

    <div class="sidepage-content">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.founderImage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.founderImage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.founderSubTetxt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.founderSubTetxt)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <div class="btn btn-default glyphs">
                <span class="glyphicon glyphicon-trash"></span>
                <input type="submit" value="Delete" />
            </div>
        </form>
    </div>

    <hr />
    <a asp-action="Index" class="btn btn-default back"><span class="glyphicon glyphicon-triangle-left"></span>Back to List</a>

</div>